.article-form__container {
  margin-top: 50px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  width: 100%;
  max-width: 797px;
  height: 1257px;
}
.container {
}
.article-form__text__title {
  font-weight: 500;
  font-size: 26px;
  line-height: 36px;
  margin-bottom: 20px;
}
.article-form__text {
}
.article-form__text__img {
}
.article-form__text__img__ing {
  border-radius: 13px;
  margin-bottom: 25px;
}
.article-form__text__text {
  margin-top: 25px;
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 24px;
}
.article-form__rek {
  margin-left: 10px;
  margin-top: 50px;
}
.main__news__about {
}
.main__news__list {
}
.about__title {
}
.main__news__about__item {
}
.about__text {
}
.about__logo {
}
.divider {
}
.main__news__about__image {
}
/* interes */

.article__bottom__container__title {
  font-weight: 500;
  font-size: 24px;
  line-height: 28.44px;
  color: #000000;
  margin-bottom: 20px;
}
.article__bottom__container__items {
  display: flex;
  gap: 10px;
}
.article__bottom__container__item {
  background-color: #f6f6f6;
  border-radius: 15px;
  padding: 20px 30px 15px 17px;
  margin-bottom: 100px;
}
.item_title1 {
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
  width: 338px;
}
.item_text1 {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #4a4b4c;
  margin-top: 10px;
  width: 354px;
}
.item_image {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
}

.item_image img {
  width: 20px;
  height: 20px;
  border-radius: 5px;
}

.item_image p {
  font-weight: 400;
  font-size: 12px;
  line-height: 14.22px;
  color: #5e5f61;
}
